/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.barra_de_menu {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
}

.barra_de_menu button {
  background: none;
  border: none;
  cursor: pointer;
}

.barra_de_menu img {
  vertical-align: middle;
}

.Menu-Mensagens {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 5px;
}

.Menu-Mensagens .btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.Menu-Mensagens .btn-editar, .Menu-Mensagens .btn-excluir {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.Menu-Mensagens .btn-excluir {
  background-color: #dc3545;
}

.mensagem-container {
  display: block;
  margin-top: 10px;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

.mensagem-container button {
  margin: 5px 0 0 0;
  display: block;
  width: 100%;
}

#titulo, #mensagem {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#novoQuadroForm {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#mensagemSalva {
  color: green;
  text-align: center;
}
