body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}
/* style.css */

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
        
    }
    to {
        transform: translateY(-25%);
        opacity: 1;
    }
}

.Inicio-001 {
    animation: slideDown 3s ease-out forwards;
}

/* Outros estilos que você já tenha... */

#Inicio {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Inicio-001 {
    max-width: 100%;
    margin: 20px auto;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 100px;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 1.2em;
    color: #aaa;
    margin-bottom: 5px;
    display: block;
}

input {
    background-color: transparent;
    color: #f5f5f5;
    border-width: 0;
    border-bottom: 2px solid #222;
    outline: none;
    min-width: 100%;
    font-size: 2rem;
    text-align: center;
}


button {
    width: 100%;
    padding: 15px 0;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    background: linear-gradient(45deg, #6b00b6, #440074);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #440074, #6b00b6);
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(90, 87, 87, 0.7);
    color: #fff;
    padding: 1px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
}
